@using Microsoft.AspNet.Identity
@using AWP.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/main.css")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AWP Offline App</p>
        </footer>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.JsBundle))
    {
        @Scripts.RenderFormat("<script type=\"text/javascript\" async src=\"{0}\"></script>", ViewBag.JsBundle)
    }
</body>
</html>
